/*Les éléments du site*/
* {
    font-family: segoe UI;
    margin: 0 auto;
}

/*Couleur de la page*/
body {
    background-color: rgba(128, 128, 128, 0.247);
}

/*Disposition en tête du site*/
.entete {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
}

.entete li {
    color: white;
    font-size: 10px;
}

/*logo du site*/
.logo_site_ecommerce {
    font-size: 40px;
    position: relative;
    left: -75px;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

/*header*/
header {
    height: 80vh;
    background: linear-gradient(rgb(4, 24, 37), rgb(5, 30, 46));
}

.classe_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*MENU*/
.menu_site {
    display: flex;
    align-items: center;
    list-style: none;
}


ul li a {
    margin: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 7px;
    left: -30px;
    transition: 0.5s;
    cursor: pointer;
}

/*TRANSITION MENU SITE*/
ul li a:hover {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
}

/*ICONES SITE*/
.icones_header {
    margin-top: 15px;
    position: relative;
    left: 85px;
}

.icones_header i {
    color: white;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.icones_header i:hover {
    transform: scale(1.2);
}

/*image page accueil*/
.image_page_accueil {
    border: 0 solid white;
    height: 410px;
    width: 85%;
    position: relative;
    top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(4, 21, 34, 0.6)), url(IMAGESsite/mont10.jpg);
    background-position: center;
    border-radius: 10px;
    left: -5px;
    background-size: cover;
    animation: animation_image_accueil infinite;
    animation-duration: 15s;
}

/*animation image d'accueil*/
@keyframes animation_image_accueil {
    from {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(4, 21, 34, 0.6)), url(IMAGESsite/chauss4.jpg);
        background-size: cover;
        background-position: center;
    }
}

.image_page_accueil p {
    color: white;
    position: relative;
    top: 70px;
    font-style: italic;
    left: 25px;
}

.image_page_accueil h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-style: italic;
    position: relative;
    top: 80px;
    left: 20px;
}

.btn_explore {
    padding: 7px 60px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    margin-top: 130px;
    margin-left: 20px;
}

/* dispostion des produits*/
.classe_produits {
    display: flex;
    margin-top: 100px;
}

.produits {
    padding: 12px;
    border-radius: 10px;
    background-color: white;
}

.produits p {
    font-weight: bold;
}

.produits img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

/*trasition*/
.produits img:hover {
    filter: contrast(1.3);
}

/*texte produits*/
.texte_produit {
    text-align: center;
    margin-top: 50px;
    color: darkslategray;
    font-size: 40px;
}

/*CLASSE LES PRODUITS*/
.nos_produits {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.les_produit1 {
    border: 0px solid black;
    height: 150px;
    width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(IMAGESsite/mont3.jpg);
    background-position: center;
    background-size: cover;
    animation: animation_image1 infinite 12s;
}

.container1 {
    padding: 10px;
    background-color: white;
}

@keyframes animation_image1 {
    from {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(IMAGESsite/mont5.jpg);
        background-position: center;
        background-size: cover;
    }
}

.les_produit2 {
    border: 0px solid black;
    height: 150px;
    width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(IMAGESsite/vet39.jpg);
    background-position: center;
    background-size: cover;
    animation: animation_image2 infinite 12s;
}

.container2 {
    padding: 10px;
    background-color: white;
}

@keyframes animation_image2 {
    from {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(IMAGESsite/vet37.jpg);
        background-position: center;
        background-size: cover;
    }
}


.les_produit3 {
    border: 0px solid black;
    height: 150px;
    width: 430px;
}

.les_produit3 {
    border: 1px solid black;
    height: 150px;
    width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(IMAGESsite/chauss2.jpg);
    background-position: center;
    background-size: cover;
    animation: animation_image3 infinite 12s;
}

.container3 {
    padding: 10px;
    background-color: white;
}

@keyframes animation_image3 {
    from {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(IMAGESsite/chauss3.jpg);
        background-position: center;
        background-size: cover;
    }
}