/*Les éléments du site*/
* {
    font-family: segoe UI;
    margin: 0 auto;
}

/*Couleur de la page*/
body {
   background-color: rgba(128, 128, 128, 0.247);
}

/*Disposition en tête du site*/
.entete {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
}

.entete li {
    color: white;
    font-size: 10px;
}

/*logo du site*/
.logo_site_ecommerce {
    font-size: 40px;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

/*header*/
header {
    height: 80vh;
    background: linear-gradient(rgb(4, 24, 37), rgb(5, 30, 46));
}
.classe_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*MENU*/
.menu_site {
    display: flex;
    align-items: center;
    list-style: none;
}


ul li a {
    margin: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 7px;
    left: -60px;
    transition: 0.5s;
    cursor: pointer;
}

/*TRANSITION MENU SITE*/
ul li a:hover {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
}

/*ICONES SITE*/
.icones_header {
    margin-top: 15px;
}

.icones_header i {
    color: white;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.icones_header i:hover {
transform: scale(1.2);
}

/*image page accueil*/
.image_page_accueil {
    border: 0 solid white;
    height: 410px;
    width: 85%;
    position: relative;
    top: 20px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(4, 21, 34, 0.6)), url(IMAGESsite/mont10.jpg);
    background-position: center;
    border-radius: 10px;
    left: -5px;
    background-size: cover;
    animation: animation_image_accueil infinite;
    animation-duration: 15s;
}

/*animation image d'accueil*/
@keyframes animation_image_accueil {
    from {
        background: linear-gradient(rgba(0,0,0,0.8),rgba(4, 21, 34, 0.6)), url(IMAGESsite/chauss4.jpg);   
        background-size: cover;  
        background-position: center;
    }
}

.image_page_accueil p {
    color: white;
    position: relative;
    top: 70px;
    font-style: italic;
    left: 25px;
}

.image_page_accueil h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-style: italic;
    position: relative;
    top: 80px;
    left: 20px;
}

.btn_explore {
    padding: 7px 60px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    margin-top: 130px;
    margin-left: 20px;
}

/* dispostion des produits*/
.classe_produits {
    display: flex;
}

.produits {

}

.produits img {
    height: 150px;
    object-fit: cover;
}

/*trasition*/
