/*Les éléments du site*/
* {
    font-family: segoe UI;
    margin: 0 auto;
}

/*Couleur de la page*/
body {
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

/*Disposition en tête du site*/
.entete {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
}

.entete li {
    color: white;
    font-size: 10px;
}

/*logo du site*/
.logo_site_ecommerce {
    font-size: 40px;
    position: relative;
    left: -50px;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

/*header*/
header {
    height: 80vh;
    background: linear-gradient(rgb(4, 24, 37), rgb(5, 30, 46));
}

.classe_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*MENU*/
.menu_site {
    display: flex;
    align-items: center;
    list-style: none;
}


ul li a {
    margin: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 7px;
    left: -30px;
    transition: 0.5s;
    cursor: pointer;
}

/*TRANSITION MENU SITE*/
ul li a:hover {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
}

/*ICONES SITE*/
.icones_header {
    margin-top: 15px;
    position: relative;
    left: 50px;
}

.icones_header i {
    color: white;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.icones_header i:hover {
    transform: scale(1.2);
}

/*image page accueil*/
.image_page_accueil {
    border: 0 solid white;
    height: 410px;
    width: 85%;
    position: relative;
    top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(4, 21, 34, 0.6)), url(IMAGESsite/ecomm1.jpg);
    background-position: center;
    border-radius: 10px;
    left: -5px;
    background-size: cover;
    animation: animation_image_accueil infinite;
    animation-duration: 15s;
}

/*animation image d'accueil*/
@keyframes animation_image_accueil {
    from {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(4, 21, 34, 0.6)), url(IMAGESsite/ecomm2.jpg);
        background-size: cover;
        background-position: center;
    }
}

.image_page_accueil p {
    color: white;
    position: relative;
    top: 70px;
    font-style: italic;
    left: 25px;
}

.image_page_accueil h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-style: italic;
    position: relative;
    top: 80px;
    left: 20px;
}

.btn_explore {
    padding: 7px 60px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    margin-top: 130px;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.btn_explore:hover {
    background-color: rgb(97, 146, 146);
    color: white;
}

/* dispostion service*/
.classe_service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_image img {
    margin-top: 20px;
    height: 350px;
    width: 130%;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    position: relative;
    top: 20px;
}

.service_texte {
    position: relative;
    left: 40px;
}

.service_texte h1 {
    position: relative;
    top: 100px;
}

.service_texte p {
    position: relative;
    top: 120px;
}

.en_savoir {
    padding: 6px 60px;
    border: 0;
    background-color: darkslategray;
    color: white;
    margin-top: 165px;
    box-shadow: 1px 5px 4px 3px rgba(0, 0, 0, 0.2);
}

.service_texte i {
    margin-top: 50px;
    font-size: 30px;
    margin: 10px;
    color: darkslategray;
}

/*CLASSE CATALOGUE*/
.catalogue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(43, 75, 75, 0.295);
}

.texte_catalogue img {
    height: 50px;
}
.image_catalogue {
    height: 150px;
    position: relative;
    border: 0 solid black;
    background: url(IMAGESsite/ecomm4.jpg);
    background-position: center;
    background-size: cover;
    left: -20px;
    width: 600px;
    object-fit: cover;
    animation: animation infinite;
    animation-duration: 14s;
}

/*ANIMATION*/
@keyframes animation {
    from {
        background: url(IMAGESsite/ecomm5.jpg);
        background-position: center;
        background-size: cover;
    }
}

.categorie_produit {
    text-align: center;
    position: relative;
    top: 30px;
}

.categorie_produit h1 {
    color: darkslategray;
}

/*Style produit avoxa*/
.classe_produits_avoxa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.avoxa_produit {
    padding: 55px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.avoxa_produit img {
    object-fit: cover;
    height: 200px;
    width: 180px;
}

.avoxa_produit i {
    color: orange;
}

.btn_ajouter {
    padding: 6px 60px;
    border: 0;
    color: white;
    background-color: darkslategrey;
}

/*Avoxa produit*/
/*partie 2*/
.avoxa_produit_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/*Avoxa produit*/
/*partie 3*/
.avoxa_produit_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}